[
  {
    "name": "User 1",
    "mail": "user1@gmail.com"
  },
  {
    "name": "User 2",
    "mail": "user2@gmail.com"
  },
  {
    "name": "User 3",
    "mail": "user3@gmail.com"
  },
  {
    "name": "User 4",
    "mail": "user4@gmail.com"
  }
]
